{% extends 'base.html' %}
{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
      <ul class="nav navbar-nav">
         <li ><a href="/modpass">ModPass</a></li>
         <li><a href="/logout">Logout</a></li>
      </ul>
      </div>
   </div>
    </div>
{% endblock %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.4.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            namespace = '/chat';
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            $('form#emit').submit(function (event) {
                socket.emit('my event', {data: $('#m').val()});
                $('#m').val('');
                return false;
            });
            socket.on('my response', function (msg) {
                $('#messages').append($('<li>').text(msg.data));
		$('#box').scrollTop($('ul#messages').height());
            });
        });

    </script>

    <div id="box" style="height:300px; overflow-y: auto; position: relative;">
        <ul id="messages" style="overflow:hidden;"></ul>
        <ul id="messages_end" style="height:0px;overflow:hidden;"></ul>
    </div>
    <form id="emit" method="POST" action="#">
        <div class="navbar navbar-fixed-bottom">
            <div class="input-group">
                <input id="m" name="m" type="text" class="form-control" placeholder="Message"/>
                  <span class="input-group-btn">
                  <button type="submit" class="btn btn">Send</button>
                  </span>
            </div>
        </div>
    </form>
{% endblock %}

